
.footer {
    margin: 60px 0 0 0;
    text-align: center;
}

.footer-copyright {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
