.header {
    position: relative;
}

.header-name {
    display: inline-block;
    margin: 45px 0 0 0;
}

/*
.header-name:visited {
    color:  #ffffff;

}
*/

.header-name-logo {
    display: inline-block;
    margin: 0 12px 0 0 ;
}

.header-name-title {
    display: inline-block;
}

.header-name-title-city_name {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
    color:  #ffffff;
}

.header-name-title-description {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color:  #ffffff;
}

.header-contacts {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 45px 0 0 0;
    color:  #ffffff;
    font-size: 18px;
}

.header-contacts-email {
    display: block;
    margin: 0 0 3px 0;
}

.header-contacts-phone_number {
    display: block;
}
