
.main-tour_block {
    display: inline-block;
    width: 307px;
    margin: 48px 0 0 0;
    text-align: center;
}

.main-tour_block_padding_trick {
    margin: 0 80px 0 80px;
}

.main-tour_block-img {
    width: 307px;
    height: 200px;
    margin: 0 0 22px 0;
    background-image: url(../img/img_1.jpg);
    border: 2px solid white;
    border-image: linear-gradient(to top, #000101 10%, #fefefe 90%);
    border-image-slice: 1;
    box-shadow: 3px 3px 17px 3px rgba(0,0,0,0.6);
}

.main-tour_block-name {
    
}

.tour_img_1 {
    background-image: url(../img/img_1.jpg);
}

.tour_img_2 {
    background-image: url(../img/img_2.jpg);
}

.tour_img_3 {
    background-image: url(../img/img_3.jpg);
}

.tour_img_4 {
    background-image: url(../img/img_4.jpg);
}

.tour_img_5 {
    background-image: url(../img/img_5.jpg);
}

.tour_img_6 {
    background-image: url(../img/img_6.jpg);
}
.main-tour_block-name {
    display: inline-block;
    font-size: 18px;
    color:  #ffffff;
    text-decoration: none;
/*    margin: 22px 0 0 0;*/
}
