@import url(header-style.css);
@import url(main-style.css);
@import url(footer-style.css);

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    width: 1090px;
    margin: 0 auto;
    
}

.fonts_basic {
    font-family: sans-serif;
}

.fonts_visited:visited {
    color: #ffffff;
}

.text_decoration {
    text-decoration: none;
}
